@{
    Layout = "_OvchegramLayout";
}

<div class="text-center">
    <h1 class="display-4">Ну типо стартовый экран</h1>
    <form>
        <button type="submit" asp-controller="Auth" asp-action="Registration">Регистрация</button>
        <button type="submit" asp-controller="Auth" asp-action="Login">Вход</button>
    </form>
    
</div>